# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RegularExpressions.iml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\RegularExpressions\.idea\.idea.RegularExpressions\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
