@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        To our
        <a asp-area="" asp-controller="Books" asp-action="Books">Library Application.</a>
    </p>
</div>
