@{
    ViewBag.Title = "hello world!" + ViewBag.Count;
    Layout = "_Layout";
}

<body>
    <h2>@ViewBag.Title</h2>
<h3>Ivan P</h3>

<ul>
    @for (int i = 1; i <= ViewBag.Count; i++)
    {
        <li>@i</li>
    }
</ul>
</body>    
