table, td, th {
    border: 1px rgb(221, 221, 221) solid;
}

th {
    background-color: #CCCCCC;
}

tr:nth-child(even) {
    background-color: #F1F1F1;
}

tbody tr:hover {
    background-color: black;
    color: white;
}
