# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.ObjectsAndClasses(EXERCISE).iml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\ObjectsAndClasses(EXERCISE)\.idea\.idea.ObjectsAndClasses(EXERCISE)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
