@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Raleway, sans-serif;
}

.heading-title {
    line-height: 1.2;
    font-weight: bold;
    font-family: Great Vibes, cursive;
}
