@import url('https://fonts.googleapis.com/css?family=Poppins');
body {
    font-family: 'Poppins';
    color: #26bd3a;
}

#inputForm {
    width: fit-content;
    margin: 0 auto;
}

.group-two {
    width: fit-content;
    display: inline-block;
}

.container {
    width: 200px;
    padding: 2em;
    margin: 1em;
}

.container:nth-child(even), .container:nth-child(odd) {
    background-color: rgb(102, 102, 102);
}



#button-container {
    text-align: center; 
}

#submitBtn {
    text-transform: uppercase;
    letter-spacing: 1.3px;
    background-color:#FB667A;
    color: white;
    border: 2px solid black;
    cursor: pointer;
    font-weight: bold;
}

#submitBtn:hover {
    background-color: #cc132c;
    border-color: black;
    box-shadow: black -1px 1px, black -2px 2px, black -3px 3px, black -4px 4px, black -5px 5px, black -6px 6px;
    transform: translate3d(6px, -6px, 0);
    
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}
