<div class="container">
    <ng-container *ngIf="isLoggedIn">
        <main>
            <div class="theme-title">
                <app-theme-list></app-theme-list>
            </div>
        </main>
        <app-recent-posts></app-recent-posts>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
        <div class="welcome">
            <h3>Welcome!</h3>
            <p>SoftUni forum is a place, where you can post your questions, comment, and discuss problems, which
                you have in your programming language or in your study in SoftUni.</p>
            <div class="logged">
                <ul>
                    <li>
                        <a routerLink="/auth/login">
                            <i class="fas fa-sign-in-alt"></i>
                            Login
                        </a>
                    </li>
                    <li>
                        <a routerLink="/auth/register">
                            <i class="fas fa-user-plus"></i>
                            Register
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </ng-container>
</div>