:root {
    --clr-white: #fff;
    --clr-orange: #e24e2a;
    --clr-gray : #383838;
    --clr-green: #1b9772;
    --clr-gray-text: #505456;
    --clr-footer-text: #5bb495;
    --clr-link-btn-background: #ececec; 
}
