#page-footer {
    background-color: var(--clr-green);
    text-align: center;
    padding: 75px 50px;
}

#page-footer .content {
    letter-spacing: 5px;
    padding: 0;
    margin: 0;

    font-weight: 700;
    color:#5bb499;
}

#page-footer .content .text.--highlight {
    color: #9bd4c5;
} 