@import url("./clrs.css");
@import url("./header.css");
@import url("./main.css");
@import url("footer.css");

html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
