{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/main.css' %}">
</head>

<body>
    <h1>My Todo List</h1>

    {% if tasks %}
        <div class="container">

        {% for task in tasks %}
            <div class="todo">
                <p class="todoTitle">{{ task.title }}</p>

                <div class="description">{{ task.description }}</div>
                {% if task.status %}
                    <div class="done">Done</div>
                {% else %}
                    <div class="open">NOT DONE</div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h1>No TODOS</h1>
    {% endif %}

</body>

    <script src="{% static './app.js' %}"></script>
</html>