{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
    <link rel="stylesheet" href="{% static 'css/lobby/style.css' %}">
</head>

<body>
    <h1>Please chose an option</h1>

    <header>
        <nav>
            <ul>
                <li>
                    <a href="/main_app/">Main App</a>
                </li>

                <li class="li-space">
                    <a href="/secondary_app/">Secondary App</a>
                </li>
            </ul>
        </nav>
    </header>
    
</body>
</html>