# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.TextProcessing.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\TextProcessing\.idea\.idea.TextProcessing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
