@import url("reset.css");
@import url("variables.css");
@import url("clients-section.css");

body {
    background-color: var(--clr-helperBlue3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* .section--full {

} */

.section--narrow {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
    padding: 48px 24px;
}

.section__title,
.section__desc {
    max-width: 540px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.section__title {
    margin-bottom: 16px;
    font-size: 38px;
    color: var(--clr-black);
}

.section__desc {
    margin-bottom: 50px;
    font-size: 18px;
    color: var(--clr-grey);
}