# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.ObjectsAndClasses(MORE_EXERCISE).iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\ObjectsAndClasses(MORE_EXERCISE)\.idea\.idea.ObjectsAndClasses(MORE_EXERCISE)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
