@model ParkingApp.Models.ParkInfo
       
       @{
           ViewData["Title"] = "Edit";
           Layout = "~/Views/Shared/_Layout.cshtml";
       }
       
       <h1>Edit Car</h1>
       
       <hr />
       <div class="row">
           <div class="col-md-4">
               <form asp-action="Edit">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                   <input type="hidden" asp-for="Id" />
                   <div class="form-group">
                       <label asp-for="PlateNumber" class="control-label"></label>
                       <input asp-for="PlateNumber" class="form-control" />
                       <span asp-validation-for="PlateNumber" class="text-danger"></span>
                   </div>
                   <div class="form-group">
                       <label asp-for="ArrivedAt" class="control-label"></label>
                       <input asp-for="ArrivedAt" class="form-control" />
                       <span asp-validation-for="ArrivedAt" class="text-danger"></span>
                   </div>
                   <div class="form-group">
                       <label asp-for="PayedUntil" class="control-label"></label>
                       <input asp-for="PayedUntil" class="form-control" />
                       <span asp-validation-for="PayedUntil" class="text-danger"></span>
                   </div>
                   <br>
                   <div class="form-group">
                       <input type="submit" value="Edit" class="btn btn-primary" />
                        <a class="btn btn-secondary" asp-action="ParkIndex">Back to List</a>
                   </div>
               </form>
           </div>
       </div>

       @section Scripts {
           @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
       }
