# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.FirstStepsInCoding.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Programming Basics\FirstStepsInCoding\.idea\.idea.FirstStepsInCoding\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
