<form [formGroup]="form" class="register" (ngSubmit)="registerHandler()">

  <fieldset>
    <h2>Registration Form</h2>

    <!-- username -->
    <p class="field field-icon">
      <label for="username"><span><i class="fas fa-user"></i></span></label>
      <input formControlName="username" class="input-error" type="text" name="username" id="username"
        placeholder="Johny">
    </p>
    <ng-container *ngIf="form.get('username')?.touched">
      <p *ngIf="form.get('username')?.errors?.['required']" class="error">
        Username is required!
      </p>
      <p *ngIf="form.get('username')?.errors?.['minlength']">
        Username must be 5 or longer
      </p>
    </ng-container>
    
    <!-- email -->
    <p class="field field-icon">
      <label for="email"><span><i class="fas fa-envelope"></i></span></label>
      <input type="email" formControlName="email" name="email" id="email" placeholder="john.doe@gmail.com">
    </p>

    <ng-container *ngIf="form.get('email')?.touched">
      <p class="error" *ngIf="form.get('email')?.errors?.['required']">
        Email is required!
      </p>
      <p class="error" *ngIf="form.get('email')?.errors?.['appEmail']">
        Email is not valid!
      </p>
    </ng-container>


    <!-- telephone -->
    <p class="field field-icon">
      <label for="tel"><span><i class="fas fa-phone"></i></span></label>
      <select name="select-tel" id="select-tel" class="tel" formControlName="ext">
        <option value="00359">+359</option>
      </select>
      <input formControlName="telephone" type="text" name="tel" id="tel" placeholder="885 888 888">
    </p>

    <ng-container formGroupName="pass">

      <!-- password -->
      <p class="field field-icon">
        <label for="password"><span><i class="fas fa-lock"></i></span></label>
        <input formControlName="password" type="password" name="password" id="password" placeholder="******">
      </p>
      <ng-container *ngIf="form.get('pass')?.get('password')?.touched">
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['required']">
          Password is required!
        </p>
        <p class="error" *ngIf="form.get('pass')?.get('password')?.errors?.['minlength']">
          Password must be at least 5 characters!
        </p>
      </ng-container>
      
      <!-- rePassword -->
      <p class="field field-icon">
        <label for="rePassword"><span><i class="fas fa-lock"></i></span></label>
        <input formControlName="rePassword" type="password" name="rePassword" id="rePassword" placeholder="******">
      </p>
      <p *ngIf="form.get('pass')?.errors?.['sameValueGroupValidator'] && form.get('pass')?.get('rePassword')?.touched"
        class="error">Repeat Password does not match password!</p>

    </ng-container>

    <!-- {{ form.value | json }} -->

    <button [disabled]="form.invalid">Create Account</button>

    <p class="text-center">
      Have an account?
      <a routerLink="/auth/login">Log In</a>
    </p>

  </fieldset>
</form>