# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ObjectsAndClasses.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\ObjectsAndClasses\.idea\.idea.ObjectsAndClasses\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
