# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Test.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\SoftUni\C#\Fundamentals\Test\Test\.idea\.idea.Test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
