# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.StacksAndQueuesExercise.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\StacksAndQueuesExercise\.idea\.idea.StacksAndQueuesExercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
