<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>Nicky Image Gallery</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/gallary.css">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>

<body>
    <table>
        <tbody>
            <tr>
                <td>
                    <h1>Roses</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Tullips</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Sunflower</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <h1>Bluebell</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Cherry Blossoms</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Azalea</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <h1>Orchid</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                                <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Daisy</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
                <td>
                    <h1>Chrysanthemum</h1>
                    <div class="container">
                        <div id="carousel">
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                            <figure><img src="/assets/img/roses/roses2.jpg" alt="No Img" width="100%" height="40%"></figure>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    
    <script type="text/javascript">

    </script>
</body>

</html>