.custom-container
{
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.custom-container span
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
}

.custom-container ul, .custom-container li
{
	padding: 0;
	margin: 0;
	list-style: none;
}

.custom-container li
{
	display: none;
}

.custom-container li.active
{
	display: inline;
}