<div class="profile">
    <form [formGroup]="form" (ngSubmit)="saveProfile()">
        <img src="/assets/profile.png" alt="default user">

        <h3>User Info:</h3>
        <div class="flex">
            <p>Username: </p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <input type="text" formControlName="username">
                    <p class="error" *ngIf="form.get('username')?.touched && form.get('username')?.errors?.['required']">
                        Username is required!
                    </p>
                    <p class="error" *ngIf="form.get('username')?.errors?.['minlength']" >
                        Username should be longer than 5 chars
                    </p>
                </ng-container>

                <ng-container *ngIf="!showEditMode">
                    {{user.username}}
                </ng-container>
            </p>
        </div>
        <div class="flex">
            <p>Email: </p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <input type="text" formControlName="email">

                    <ng-container *ngIf="form.get('email')?.touched">
                        <p class="error" *ngIf="form.get('email')?.errors?.['required']">
                            Email is required!
                        </p>
                        <p class="error" *ngIf="form.get('email')?.errors?.['appEmailValidator']">
                            Email is not valid!
                        </p>
                    </ng-container>
                </ng-container>

                <input type="text" *ngIf="showEditMode" formControlName="email">
                <ng-container *ngIf="!showEditMode">
                    {{user.email}}
                </ng-container>
            </p>
        </div>
        <div class="flex">
            <p>Phone: </p>
            <p>
                <ng-container *ngIf="showEditMode">
                    <label for="tel">
                        <span><i class="fas fa-phone"></i></span>
                        <select name="select-tel" id="select-tel" class="tel" formControlName="ext">
                            <option value="00359">+359</option>
                            <option value="00358">+358</option>
                        </select>
                        <input type="text" formControlName="tel" id="tel" placeholder="885 888 888">
                    </label>
                </ng-container>
                <ng-container *ngIf="!showEditMode">
                    {{user.ext}} {{user.tel}}
                </ng-container>
            </p>
        </div>
        <ng-template #edit>
            <button class="edit-button" type="submit">
                Save
            </button>
        </ng-template>
        <ng-template #nonEdit>
            <button class="edit-button" type="button" (click)="toggleEditMode()">
                Edit
            </button>
        </ng-template>

        <ng-container *ngTemplateOutlet="showEditMode ? edit : nonEdit"></ng-container>
    </form>
</div>