main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    position: relative;
    /* background-color: aqua; */
}

img.new {
    position: absolute;
    top: -15%;
    left: 60%;
}
