.container {
    border: 2px dashed black;
    display: flex;
    
    justify-content: space-evenly;
    /* align-items: flex-end; */

    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* height: 180px; */

    height: 250px;
    /* gap: 24px; */
}

.container .item {
    width: 200px;
}

.container .item:nth-child(1){
    height: 80px;
}

/* .container .item:nth-child(6) { */
    /* padding: 0.5rem;
    border: 2px solid rgb(0, 0, 0);
    order: -1;
    align-self: flex-end; */
    /* flex-shrink: 2; */
    /* flex-grow: 100; */
    /* flex-basis: 299px; */
/* } */


/* .container .item:nth-child(7) {
    flex-basis: 500px;
    order: -1;
    flex-grow: 10;
} */
