.normal-btn, 
.filled-btn,
.icon-btn {
    border: 3px solid #333333;
    border-radius: 15px;
}

.normal-btn {
    color: #333333;
    background-color: white;
}

.normal-btn:last-child:hover,
.filled-btn:last-child:hover {
    border-color: rgb(7, 119, 31);;
    color: rgb(7, 119, 31);
}


.filled-btn {
    color: white;
    background-color: #333333;
}

.filled-btn:last-child:hover {
    background-color: white;
}

.icon-btn {
    color: white;
    background-color: #333333;
}

.icon-btn:last-child:hover {
    background-color: rgb(7, 119, 31);
    border-color: rgb(7, 119, 31);
}