{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block site_title %}Change Title!!!{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/shared/distance.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'logo/Tick_Tack_Watches.png' %}">
    {% block site_links %}
    {% endblock %}

    {% block site_scripts %}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'shared/nav.html' with current_path=request.path %}
    </header>
    <div>
        <main class="distance">
            {% block site_content %}
            {% endblock %}
        </main>
    </div>
    <footer>
        {% include 'shared/footer.html' %}
    </footer>
</body>
</html>