{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<link rel="stylesheet" href="{% static 'css/shared/footer.css' %}">
<div class="card text-center">
    <div class="card-header"></div>
    <div class="card-body">
        <h4 class="card-title">Social media</h4>
        <p class="card-text">Discover more incredible products and reviews in our social media channels</p>
        <a href="#" class="btn btn-primary">Youtube <i class="fab fa-youtube"></i></a>
        <a href="#" class="btn btn-primary">Instagram <i class="fab fa-instagram"></i></a>
        <a href="#" class="btn btn-primary">Facebook <i class="fab fa-facebook-square"></i></a>
        <a href="#" class="btn btn-primary">Twitter <i class="fab fa-twitter"></i></a>
    </div>
    <div class="card-footer">
        <p>
            &copy; 2020 - Ivan Parvanovski - All Rights Reserved.
        </p>
    </div>
</div>

