# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.HomeworkFundamentals.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\HomeworkFundamentals\.idea\.idea.HomeworkFundamentals\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
