# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lists(EXERCISE).iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\Lists(EXERCISE)\.idea\.idea.Lists(EXERCISE)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
