# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.RegularExpressions(EXERCISE).iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\SoftUni\C#\Fundamentals\RegularExpressions(EXERCISE)\.idea\.idea.RegularExpressions(EXERCISE)\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
